{
  "parser": "babel-eslint",
  "extends": [
    "defaults/configurations/google",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "object-curly-spacing": [2, "always"],
    "space-before-function-paren": [2, {
      "anonymous": "always",
      "named": "never"
    }],
    "comma-dangle": 0,
  },
  "plugins": [
    "flowtype",
    "eslint-plugin-flowtype",
    "eslint-plugin-flow-vars",
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  }
}

