.nav {
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  margin: 5px;
  border: 1px solid black;
  width: calc(100% - 10px);
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;

  a {
    color: #34495e;
    text-decoration: none;
    font-size: 18px;
  }

  .nav-link-list {
    list-style-type: none;
    margin: auto;
    text-align: center;
    padding-left: 0;

    .active {
      background-color: $yellow;
      border: 1px solid black;
      box-shadow: 5px 5px $dark-grey;
    }

    .sep {
      font-size: 8px;
      vertical-align: middle;
    }

    li {
      text-transform: lowercase;
      display: inline;
      padding: 0 5px;
      margin-right: 7px;
    }
  }
}

@include breakpoint(mobile) {
  .nav {
    height: 40px;
  }
}

@include breakpoint(desktop) {
  .nav {
    height: 60px;
  }
}
