@import "../../node_modules/highlight.js/styles/tomorrow.css";
@import "./code";
@import "./markdown";
@import "./header";

body {
  font-family: "Lato";
  margin: 0;
}

.literate-crypto-content {
  @media (max-width: 899px) {
    height: 94vh;
  }
  @media (min-width: 900px) {
    height: 95vh;
  }
  overflow: auto;
}
