@import "breakpoints";
@import "../../node_modules/highlight.js/styles/tomorrow.css";
@import "./variables";
@import "./code";
@import "./markdown";
@import "./header";
@import "./page-layout";
@import "./about";
@import "./projects";
@import "./grid";
@import "./home";
@import "./blog";

body {
  font-family: "Montserrat";
  margin: 0;
  background-color: $page-background;
}

#app {
  height: 100%;

  // cross-hatching
  // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHklEQVQIW2NkQID/QCYjiAsmoABFEMRBAThVYmgHAAhoBQWHhfyYAAAAAElFTkSuQmCC) repeat;
}

.hljs {
  background: none;
}

.page-content {
  @include breakpoint(mobile) {
    height: 100%;
    padding-top: 40px;
  }

  @include breakpoint(desktop) {
    height: 92vh;
    padding-top: 60px;
  }

  overflow: auto;

  a {
    text-decoration: none;
    border-bottom: 2px solid $red;
    color: black;
  }
}

h1,h2,h3,h4 {
  color: $orange;
}

h1:before {
  content: "# ";
}

h2:before {
  content: "## ";
}

h3:before {
  content: "### ";
}

h4:before {
  content: "#### ";
}


p {
  text-align: justify;
}

body {
  @include breakpoint(mobile) {
    font-size: 16px;
  }

  @include breakpoint(desktop) {
    font-size: 20px;
  }
}
