@import "../../node_modules/highlight.js/styles/tomorrow.css";
@import "./variables";
@import "./code";
@import "./markdown";
@import "./header";
@import "./blog_page";

body {
  font-family: "Lato";
  margin: 0;
  background-color: #fff;
}

.hljs {
  background: none;
}

.literate-crypto-content {
  @media (max-width: 899px) {
    height: 100%;
    padding-top: 40px;
  }
  @media (min-width: 900px) {
    height: 94vh;
  }
  overflow: auto;
}
