.markdown {
  max-width: 800px;
  font-size: 16px;
  margin: auto;

  p, li {
    text-align: justify;
  }

  p {
    code {
      background-color: $code-background;
      padding: 2px;
    }
  }

  img {
    width: 100%;
  }

  pre {
    background-color: $code-background;
    padding: 15px;
    border: 1px solid #c5c0c0;
    border-radius: 4px;
    box-shadow: 0 0 5px #e8e6e6;

    code {
      padding: 0;
    }
  }
}

@media (max-width: 899px) {
  .markdown {
    // width: calc(100% - 20px);
  }
}
