.markdown {
  max-width: 900px;
  margin: auto;

  p, li {
    text-align: justify;
  }

  p {
    code {
      background-color: white;
      padding: 1px;
      border: 1px solid lightgray;
    }
  }

  img {
    width: 100%;
  }

  pre {
    background-color: white;
    border: 1px solid black;
    padding: 15px;

    code {
      padding: 0;
    }
  }
}
