.single-column {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.two-column {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;

  .main-column {
    width: 66%;
  }

  .sidebar {
    width: 33%;
  }

  @media (max-width: 899px) {
    .main-column {
      width: 100%;
    }

    .sidebar {
      display: none;
    }
  }

  @media (min-width: 900px) {
    .main-column {
      width: 66%;
    }

    .sidebar {
      width: 33%;
    }
  }
}
