.single-column {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.two-column {
  max-width: 1200px;
  margin: auto;
  padding: 10px;

  .main-column {
    width: 66%;
  }

  .sidebar {
    width: 33%;
  }
}
